.order__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13rem;
  cursor: pointer;

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    transition: all .5s;
    img {
      width: 12rem;
      height: auto;
      z-index: 2;
      transition: all .5s;
    }
    &--bg {
      background-image: linear-gradient(to bottom, var(--color-highlight), transparent);
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      transition: all .5s;
    }
  }

  &--active {
    min-height: 15rem;
    .order {
      
      &__item {
        &__image {
          img {
            width: 20rem;
            transform: rotate(30deg);
          }
          &--bg {
            width: 13rem;
            height: 13rem;
          }
        }
      }

      &__name {
        font-size: 2rem;
        color: var(--grey-light);
      }

      &__price {
        font-size: 2.5rem;
        color: var(--grey-light);
      }

    }
  }
}