.form {

  &__group {
    margin-bottom: 2rem;
    &--date {
      display: flex;
      flex-direction: row;

      .form__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1rem;

        .icon {
          margin-left: .5rem;
          path {
            fill: var(--color-primary);
          }

        }

      }

    }
  }

  &__groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
    color: var(--grey-dark);
    margin-bottom: .5rem;
    margin-left: .5rem;
  }
}