@import "./../../assets/sass/mixin";

.checkout {

  min-height: 100vh;

  &__content {

    background-color: var(--color-highlight);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    min-height: 100vh;
    position: relative;

    &:after {
      content: "";
      position: fixed;
      right: 0;
      height: 100%;
      background-color: var(--color-primary);

      @include mq(xs) {
        position: absolute;
        height: 51.5%;
        width: 100%;
        bottom: 0;
      }

      @include mq(sm) {
        width: 45%;
        top: 0;
      }

      @include mq(md) {
        width: 45.5%;
        top: 0;
      }

      @include mq(lg) {
        width: 46%;
        top: 0;
      }

    }

    @include mq(sm) {
      padding: 0 2rem;
    }

    @include mq(md) {
      padding: 0 6rem;
    }

  }

  &__card {

    background-color: blue;
    width: 100%;
    max-width: 1140px;
    margin: 2rem auto;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: -20px 20px 10px rgba($color: #000000, $alpha: .25);
    z-index: 2;

    @include mq(sm) {
      grid-template-columns: 1fr 45%;
    }

    &__content {
      min-height: 30rem;
    }

  }

}