.card {

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    width: 100%;
    min-height: 15rem;
  }

  &__item {

    width: 26rem;
    min-width: 26rem;
    background-color: var(--color-highlight-light);
    border-radius: 2rem;
    transition: all .5s ease-in-out;
    position: absolute;
    // height: 75%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    &--active {
      background-color: var(--color-highlight);
      width: 80%;
      max-width: 27rem;
      height: 100%;
      opacity: 1;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 10;;
    }

    &--next {
      right: 0;
      transform:translateY(-50%) scale(.8) ;
      border-radius: 1.5rem;
    }

    &--previous {
      left: 0;
      transform:translateY(-50%) scale(.8) ;
      opacity: .4;
      border-radius: 1.5rem;
    }

  }

  &__header {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 0 2rem;
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    path {
      fill: var(--grey-light);
    }
    &--mastercard {
      width: 6rem;
      height: 6rem;
      path {
        fill: auto;
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    span {
      font-size: 1.5rem;
      color: var(--grey-light);
      text-align: center;
      letter-spacing: 4px;

     &.has-number {
      margin-bottom: 1rem;
     }

    }
  }

  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem 2rem 2rem;
  }

  &__holder {

  }

  &__label {
    text-transform: uppercase;
    color: rgba(255,255,255, .4);
  }

  &__name {
    color: var(--grey-light);
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__expire-date {
    .card__name {
      text-align: end;
    }
  }

  &__button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 20;


    .icon {
      width: 2rem;
      height: 2rem;
      path {
        fill: var(--color-primary-light);
        stroke: var(--color-primary-light);
      }
    }

    &--previous {
      left: 0;
      transform: rotate(180deg) translateY(11px);
    }

    &--next {
      right: 0;
    }

  }

}